<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Employee Payroll Management</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sidebar">
        <a routerLink="/adminhome">Home</a>
        <a routerLink="/list-emp">Employee Details</a>
        <a routerLink="/admatthome">Attendance</a>
        <a routerLink="/admschdhome">Work Schedule</a>
        <a routerLink="/admsalhome">Salary</a>
        <a routerLink="/admleavehome">Leaves</a>

        <a routerLink="/admin">Logout</a>


    </div>

    <div class="container" style=" padding:10px;border-radius: 7px;padding-left: 70px;">
        <h2 style="text-align: center;">Welcome to Employee Payroll Management</h2><br>

<div >
    <h3>All Schedule list for Employee ID --> {{myParamValue}}:</h3>
    <table class="table"  style="margin: 0px; border: 1px solid rgb(216, 211, 211);">
        <thead>
          <tr>
            <th>SchdId</th>
            <th>From-Date</th>
            <th>To-date</th>
            <th>Shift</th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schd of schdules">
            <td>{{schd.schdId}}</td>
            <td>{{schd.fromdate}}</td>
            <td>{{schd.todate}}</td>
            <td>{{schd.timeline}}</td>
            <td>
                <button type="button" class="btn btn-secondary"  (click)="schdule=schd;isclicked=!isclicked;">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="Delete(schd.schdId)">Delete</button>

            </td>

          </tr>

        </tbody>
      </table>

      <br>
      <button class="btn btn-warning" routerLink="/admschdhome">Go Back</button>
    </div>
<br>
<br>
<div *ngIf="isclicked">
    <form #contactForm="ngForm" (ngSubmit)="Edit(contactForm.value)">
        <div class="form-group">
            <label for="UserId">SchdId:</label>
            <div><pre>{{schdule.schdId}}</pre></div>
            </div>
        <div class="form-group">
            <label for="UserId">From-date:</label>
            <input required  ngModel name="fromdate" type="text" #fromdate="ngModel" class="form-control" id="fromdate" style="width: 10%;">
            <div class="alert alert-danger" *ngIf="fromdate.touched && !fromdate.valid">
                <div *ngIf="fromdate.errors?.required">From-Date is required.</div>
                <div *ngIf="fromdate.errors?.minlength">From-Date is minimum {{ fromdate.errors?.minlength.requiredLength }} character.</div>
                <div *ngIf="fromdate.errors?.maxlength">From-Date is maximum 10 character.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="UserId">To-date:</label>
            <input required  ngModel name="todate" type="text" #todate="ngModel" class="form-control" id="todate" style="width: 10%;">
            <div class="alert alert-danger" *ngIf="todate.touched && !todate.valid">
                <div *ngIf="todate.errors?.required">To-Date is required.</div>
                <div *ngIf="todate.errors?.minlength">To-Date is minimum {{ todate.errors?.minlength.requiredLength }} character.</div>
                <div *ngIf="todate.errors?.maxlength">To-Date is maximum 10 character.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="UserId">Shift:</label>
            <input required  ngModel name="timeline" type="text" #timeline="ngModel" class="form-control" id="timeline" style="width: 10%;">
            <div class="alert alert-danger" *ngIf="timeline.touched && !timeline.valid">
                <div *ngIf="timeline.errors?.required">Shift is required.</div>
                <div *ngIf="timeline.errors?.minlength">Shift is minimum {{ timeline.errors?.minlength.requiredLength }} character.</div>
                <div *ngIf="timeline.errors?.maxlength">Shift is maximum 10 character.</div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" [class.disabled]="!contactForm.valid">Submit</button>
        <br>
        <br>

      </form>
  </div>
  <button type="button" class="btn btn-warning" (click)="addclicked=!addclicked">Add</button>
<div *ngIf="addclicked">
    <form #contactForm="ngForm" (ngSubmit)="Add(contactForm.value)">

        <div class="form-group">
            <label for="UserId">From-date:</label>
            <input required  ngModel name="fromdate" type="text" #fromdate="ngModel" class="form-control" id="fromdate" style="width: 10%;">
            <div class="alert alert-danger" *ngIf="fromdate.touched && !fromdate.valid">
                <div *ngIf="fromdate.errors?.required">From-Date is required.</div>
                <div *ngIf="fromdate.errors?.minlength">From-Date is minimum {{ fromdate.errors?.minlength.requiredLength }} character.</div>
                <div *ngIf="fromdate.errors?.maxlength">From-Date is maximum 10 character.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="UserId">To-date:</label>
            <input required  ngModel name="todate" type="text" #todate="ngModel" class="form-control" id="todate" style="width: 10%;">
            <div class="alert alert-danger" *ngIf="todate.touched && !todate.valid">
                <div *ngIf="todate.errors?.required">To-Date is required.</div>
                <div *ngIf="todate.errors?.minlength">To-Date is minimum {{ todate.errors?.minlength.requiredLength }} character.</div>
                <div *ngIf="todate.errors?.maxlength">To-Date is maximum 10 character.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="UserId">Shift:</label>
            <input required  ngModel name="timeline" type="text" #timeline="ngModel" class="form-control" id="timeline" style="width: 10%;">
            <div class="alert alert-danger" *ngIf="timeline.touched && !timeline.valid">
                <div *ngIf="timeline.errors?.required">Shift is required.</div>
                <div *ngIf="timeline.errors?.minlength">Shift is minimum {{ timeline.errors?.minlength.requiredLength }} character.</div>
                <div *ngIf="timeline.errors?.maxlength">Shift is maximum 10 character.</div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" [class.disabled]="!contactForm.valid">Submit</button>
        <br>
        <br>

      </form>
  </div>
 </div>


</body>
</html>

