<div class="sidebar">
    <a routerLink="/adminhome">Home</a>
    <a routerLink="/list-emp">Employee Details</a>
    <a routerLink="/admatthome">Attendance</a>
    <a routerLink="/admschdhome">Work Schedule</a>
    <a routerLink="/admsalhome">Salary</a>
    <a routerLink="/admleavehome">Leaves</a>
    <a routerLink="/admin">Logout</a>


</div>

<h2 style="margin-left:20%;color:rgb(13, 183, 13)"> Welcome Admin !</h2>
<br><br>
<div style="margin-left:20%;">
<h3>Instructions:</h3><br>
<h4>
  <ol>
    <li>Click on Home to return to this page.</li>
    <li>Click on Employee details to view all employee details.</li>
    <li>Click on Attendance to view Employee Attendance.</li>
    <li>Click on Work Schedule to view Employee Work schedule.</li>
    <li>Click on Salary to view Employee Salary details.</li>
    <li>Click on Leaves to view Employee leave information.</li>
    <li>Click on Logout to logout.</li>
  </ol>
</h4>
</div>
